<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-hybridrtc" version="0.0.1">
  <name>HybridRtcPlugin</name>
  <dependency id="cordova-plugin-cocoapod-support"/>
  <js-module name="HybridRtcPlugin" src="www/HybridRtcPlugin.js">
    <clobbers target="cordova.plugins.HybridRtcPlugin"/>
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="HybridRtcPlugin">
        <param name="ios-package" value="HybridRtcPlugin"/>
      </feature>
    </config-file>

    <config-file parent="NSAppTransportSecurity" target="*-Info.plist">
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>
    </config-file>
    <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
        <string>需要使用相机用于聊天功能发送照片</string>
    </config-file>
    <config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
        <string>需要使用麦克风用于聊天功能</string>
    </config-file>
    <config-file parent="NSLocationWhenInUseUsageDescription" target="*-Info.plist">
        <string>需要使用您的位置用于聊天功能</string>
    </config-file>
    <config-file parent="NSLocationAlwaysUsageDescription" target="*-Info.plist">
        <string>需要使用您的位置用于聊天功能</string>
    </config-file>
    <config-file parent="NSLocationAlwaysAndWhenInUseUsageDescription" target="*-Info.plist">
        <string>需要使用您的位置用于聊天功能</string>
    </config-file>
    <config-file parent="NSPhotoLibraryAddUsageDescription" target="*-Info.plist">
        <string>需要使用您的相册用于聊天功能发送照片</string>
    </config-file>

	<header-file src="src/ios/AFHttpTool.h"/>
    <source-file src="src/ios/AFHttpTool.m"/>
    <header-file src="src/ios/ChatListViewController.h"/>
    <source-file src="src/ios/ChatListViewController.m"/>
    <header-file src="src/ios/ContactSelectCell.h"/>
    <source-file src="src/ios/ContactSelectCell.m"/>
    <header-file src="src/ios/ContactSelectModel.h"/>
    <source-file src="src/ios/ContactSelectModel.m"/>
    <header-file src="src/ios/ContactSelectViewController.h"/>
    <source-file src="src/ios/ContactSelectViewController.m"/>
    <header-file src="src/ios/ContractViewController.h"/>
    <source-file src="src/ios/ContractViewController.m"/>
    <header-file src="src/ios/ConversationViewController.h"/>
    <source-file src="src/ios/ConversationViewController.m"/>
    <header-file src="src/ios/FriendCell.h"/>
    <source-file src="src/ios/FriendCell.m"/>
    <header-file src="src/ios/GroupMemberCell.h"/>
    <source-file src="src/ios/GroupMemberCell.m"/>
    <header-file src="src/ios/GroupMemberModel.h"/>
    <source-file src="src/ios/GroupMemberModel.m"/>
    <header-file src="src/ios/GroupSettingViewController.h"/>
    <source-file src="src/ios/GroupSettingViewController.m"/>
    <header-file src="src/ios/OrganizationCollectionModel.h"/>
    <source-file src="src/ios/OrganizationCollectionModel.m"/>
    <header-file src="src/ios/OrganizationCollectionViewCell.h"/>
    <source-file src="src/ios/OrganizationCollectionViewCell.m"/>
    <header-file src="src/ios/OrganizationModel.h"/>
    <source-file src="src/ios/OrganizationModel.m"/>
    <header-file src="src/ios/OrgnizationSelectTableViewCell.h"/>
    <source-file src="src/ios/OrgnizationSelectTableViewCell.m"/>
    <header-file src="src/ios/UserModel.h"/>
    <source-file src="src/ios/UserModel.m"/>
    <header-file src="src/ios/UserRemoveViewController.h"/>
    <source-file src="src/ios/UserRemoveViewController.m"/>
    <header-file src="src/ios/UserSelectedCollectionView.h"/>
    <source-file src="src/ios/UserSelectedCollectionView.m"/>
    <header-file src="src/ios/UserSelectedCollectionViewCell.h"/>
    <source-file src="src/ios/UserSelectedCollectionViewCell.m"/>
    <header-file src="src/ios/UserSelectTableView.h"/>
    <source-file src="src/ios/UserSelectTableView.m"/>
    <header-file src="src/ios/UserSelectTableViewCell.h"/>
    <source-file src="src/ios/UserSelectTableViewCell.m"/>
    <header-file src="src/ios/UserSelectViewController.h"/>
    <source-file src="src/ios/UserSelectViewController.m"/>
    <header-file src="src/ios/HybridRtcPlugin.h"/>
    <source-file src="src/ios/HybridRtcPlugin.m"/>
    <header-file src="src/ios/RCDataBaseManager.h"/>
    <source-file src="src/ios/RCDataBaseManager.m"/>
    <header-file src="src/ios/RCDCommonDefine.h"/>
    <header-file src="src/ios/RCDGroupInfo.h"/>
    <source-file src="src/ios/RCDGroupInfo.m"/>
    <header-file src="src/ios/RCDHttpTool.h"/>
    <source-file src="src/ios/RCDHttpTool.m"/>
    <header-file src="src/ios/RCDRCIMDataSource.h"/>
    <source-file src="src/ios/RCDRCIMDataSource.m"/>
    <header-file src="src/ios/RCDUserInfo.h"/>
    <source-file src="src/ios/RCDUserInfo.m"/>
    <header-file src="src/ios/RCDUserInfoManager.h"/>
    <source-file src="src/ios/RCDUserInfoManager.m"/>
    <header-file src="src/ios/RCDUtilities.h"/>
    <source-file src="src/ios/RCDUtilities.m"/>
    <header-file src="src/ios/RongYunMainVC.h"/>
    <source-file src="src/ios/RongYunMainVC.m"/>
    <header-file src="src/ios/RYMainViewController.h"/>
    <source-file src="src/ios/RYMainViewController.m"/>
    <header-file src="src/ios/UpdateNameViewController.h"/>
    <source-file src="src/ios/UpdateNameViewController.m"/>

    <resource-file src="src/ios/RongYunStoryboard.storyboard"/>
    <resource-file src="src/ios/OrgnizationSelectTableViewCell.xib"/>
    <resource-file src="src/ios/UserSelectedCollectionViewCell.xib"/>
    <resource-file src="src/ios/UserSelectTableViewCell.xib"/>
    <resource-file src="src/ios/Emoji.plist"/>
    <resource-file src="src/ios/userInfo.json"/>
    <resource-file src="src/ios/RCColor.plist"/>
    <resource-file src="src/ios/RongCloud.bundle"/>
    <resource-file src="src/ios/RongCloudKit.strings"/>
    <resource-file src="src/ios/user_male@2x.png"/>
    <resource-file src="src/ios/user_male@3x.png"/>
    <resource-file src="src/ios/select.png"/>
    <resource-file src="src/ios/unselect.png"/>
    <resource-file src="src/ios/icon_link@3x.png"/>
    <resource-file src="src/ios/x_group avatar_icon@3x.png"/>
    <resource-file src="src/ios/x_plus_icon@3x.png"/>
    <resource-file src="src/ios/icon_del@3x.png"/>
    <resource-file src="src/ios/outline.png"/>
    <resource-file src="src/ios/radio_checked.png"/>
    <resource-file src="src/ios/radio_off.png"/>
    <resource-file src="src/ios/setting.png"/>

    <source-file src="src/ios/libopencore-amrnb.a" target-dir="lib" framework="true" />
    <source-file src="src/ios/libopencore-amrwb.a" target-dir="lib" framework="true" />
    <source-file src="src/ios/libvo-amrwbenc.a" target-dir="lib" framework="true" />

    <framework src="src/ios/RongIMLib.framework" custom="true"/>
    <framework src="src/ios/RongIMKit.framework" custom="true"/>
    <framework src="src/ios/RongCallLib.framework" custom="true"/>
    <framework src="src/ios/RongCallKit.framework" custom="true"/>
    <framework src="src/ios/RongRTCLib.framework" custom="true"/>

    <framework src="libc++.tbd" />
    <framework src="libc++abi.tbd" />
    <framework src="libsqlite3.tbd" />
    <framework src="libstdc++.tbd" />
    <framework src="libxml2.tbd" />
    <framework src="libz.tbd" />
    <framework src="MapKit.framework" />
    <framework src="OpenGLES.framework" />
    <framework src="QuartzCore.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="Photos.framework" />
    <framework src="SafariServices.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="AudioToolbox.framework" />
    <framework src="GLKit.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="AVFoundation.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="CoreMotion.framework" />
    <framework src="CoreVideo.framework" />
    <framework src="VideoToolbox.framework" />

    <framework src="libbz2.tbd" />
    <framework src="libiconv.tbd" />
    <framework src="libresolv.tbd" />

    <pods-config ios-min-version="10.0" use-frameworks="false"/>    
    <pod name="AFNetworking" spec="~>3.0"/>
    <pod name="FMDB" spec="~>2.7.0"/>
    <pod name="MJExtension" spec="~>3.0"/>
  </platform>
</plugin>